<ion-view title="Friend Request" id="friendRequest" style="">
  <ion-content padding="true" class="has-header">
    <div id="friendRequest-button-bar4" class="button-bar"></div>
    <div class="spacer" style="width: 300px; height: 3px;"></div>
    <h4 id="friendRequest-heading7" style="color:#000000;font-size:25px;text-align:center;">Alice Snave</h4>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    <div style="margin-top:10%;text-align:center">
        <a  ui-sref="tabsController.home"style="width:20%;float:left;margin:0px 20%;" >
           <img src="img/QoCoZu2TVQPxbwIN3T3g_no.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
        <a style="width:20%;float:left" ui-sref="tabsController.home">
            <img src="img/gLDgngOqTfC9yTwqoTtw_yes.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
        
    </div>
   </ion-content>
</ion-view>