<ion-view title="Friend Request" id="page21">
  <ion-content padding="true" class="has-header">
    <div id="friendRequest-button-bar4" class="button-bar"></div>
    <div class="spacer" style="width: 300px; height: 3px;"></div>
    <h4 id="friendRequest-heading7" style="color:#000000;font-weight:400;text-align:center;">Alice Snave</h4>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="spacer" style="width: 300px; height: 42px;"></div>
    <div>
      <img src="img/gLDgngOqTfC9yTwqoTtw_yes.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <div>
      <img src="img/QoCoZu2TVQPxbwIN3T3g_no.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="friendRequest-card24"></div>
  </ion-content>
</ion-view>