<ion-view title="Hello World" id="index" style="">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div>
      <img src="img/logo.png" style="display: block; width: 80%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <a ui-sref="login" id="helloWorld-button8" class="button button-balanced  button-block" >Log in</a>
    <div class="spacer" style="width: 300px; height: 0px;"></div>
    <a ui-sref="signUp" id="login-button10" class="button button-positive  button-block button-clear">Or create an account</a>
  </ion-content>
</ion-view>