<ion-view title="Home" id="home" style="">
  <ion-content padding="true" class="has-header">
      <button class="button button-block button-outline button-positive" ng-click="getCurrentPosition()">
                Get Current Position!
        </button>
    <div style="margin-top:15%;margin-bottom:20%">
        <a style="display:block" ui-sref="tabsController.newChallenge">
            <img src="img/radar.gif" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;-webkit-filter: saturate(0.5); filter: saturate(0.5);-webkit-filter: blur(0.8px); filter: blur(0.8px);">
        </a>
    </div>
    <h3 id="home-heading4" style="color: rgb(109, 103, 103); text-align: center;font-size:27px">Finding people...</h3>
            
    
  </ion-content>
</ion-view>
