<ion-view title="Leaderboard" id="page12" style="">
      <ion-content padding="true" class="has-header">
    <ion-list id="leaderboard-list4">
      <ion-item class="item-avatar" id="leaderboard-list-item21" style="">
        <h2>AAA</h2>
      </ion-item>
      <ion-item class="item-avatar" id="leaderboard-list-item22" style="">
        <h2>BBB</h2>
      </ion-item>
      <ion-item class="item-avatar" id="leaderboard-list-item23" style="">
        <h2>CCC</h2>
      </ion-item>
      <ion-item class="item-avatar" id="leaderboard-list-item24" style="">
        <h2>DDD</h2>
      </ion-item>
      <ion-item class="item-avatar" id="leaderboard-list-item25" style="">
        <h2>EEE</h2>
      </ion-item>
      <ion-item class="item-avatar" id="leaderboard-list-item26" style="">
        <h2>FFF</h2>
      </ion-item>
      <ion-item class="item-avatar" id="leaderboard-list-item27" style="">
        <h2>GGG</h2>
      </ion-item>
      <ion-item class="item-avatar" id="leaderboard-list-item28" style="">
        <h2>HHH</h2>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
