<ion-view title="login" id="login" style="">
  <ion-content padding="true" class="has-header">
    <form id="login-form4" class="list">
      <ion-list id="login-list5">
        <label class="item item-input" id="login-input8">
          <input placeholder="Username" type="text" ng-model="data.username">
        </label>
        <label class="item item-input" id="login-input9">
          <input placeholder="Password" type="text" ng-model="data.password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a  id="login-button9" class="button button-stable  button-block" ng-click="validationEvent()">Log in</a>
      <a ui-sref="signUp" id="login-button10" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>

<!-- ui-sref="tabsController.home" -->