<ion-view title="Mission Complete" id="missionComplete" style="">
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <div>
      <img src="img/hP8as7DNTmSADWgwNisw_MISSION_COMPLETE.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="missionComplete-heading8" style="color:#04B40C;"> +</h1>
    <div id="missionComplete-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#4D4B4B;font-size:49px;">800</p>
    </div>
    <div class="spacer" style="width: 300px; height: 16px;"></div>
    <div id="missionComplete-markdown15" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#4D4B4B;font-size:20px;">points</p>
    </div>
</ion-view>