<ion-view title="New Challenge!" id="newChallenge" style="">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="newChallenge-card22">
      <ion-item class="item-avatar" id="newChallenge-list-item8" style="">
        <h2>Dave</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <button id="newChallenge-button13" class="button button-balanced  button-block" ui-sref="tabsController.mission">Accept! </button>
      <button id="newChallenge-button14" class="button button-dark  button-block"  ui-sref="tabsController.home">No, thanks</button>
    </div>
  </ion-content>
</ion-view>