<ion-view title="Profile" id="page19" style="">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="profile-card21">
      <ion-item class="item-avatar balanced" id="profile-list-item13">
        <h2balanced>Dave Snave
          <p>dave2017</p>
        </h2balanced>
      </ion-item>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h4 id="profile-heading5" style="color:#000000;text-align:center;">Points</h4>
    <ion-list id="profile-list6">
      <ion-item class="item-icon-left" id="profile-list-item11">
        <i class="icon ion-android-star-outline"></i>1,250</ion-item>
    </ion-list>
    <h4 id="profile-heading6" style="color:#000000;text-align:center;">Ranking</h4>
    <ion-list id="profile-list7">
      <ion-item class="item-icon-left" id="profile-list-item12">
        <i class="icon ion-connection-bars"></i>16</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
