<ion-view title="Sign up" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="signUp-form3" class="list">
      <ion-list id="signUp-list3">
        <label class="item item-input" id="signUp-input5">
        <input placeholder="Name" type="text">
        </label>
        <label class="item item-input" id="signUp-input6">
          <input placeholder="Username" type="text">
        </label>
        <label class="item item-input" id="signUp-input7">
          <input placeholder="Password" type="text">

        </label>
      </ion-list>
      <button id="signUp-button7" class="button button-stable  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>