<ion-view title="Resource" id="page22" style="">
  <ion-content padding="true" class="has-header">
    <button id="resource-button28" class="button button-positive  button-block">Tap me!</button>
    <div id="resource-container1" class="creator-container"></div>
    <form id="resource-form5" class="list">
      <ion-toggle toggle-class="toggle-positive" id="resource-toggle2">Toggle</ion-toggle>
      <label class="item item-input" id="resource-input11">
        <span class="input-label">Input</span>
        <input placeholder="" type="text">
      </label>
      <ion-toggle toggle-class="toggle-positive" id="resource-toggle3">Toggle</ion-toggle>
      <ion-item class="item-divider" id="resource-list-item-divider1"> Item</ion-item>
      <ion-item class="item-thumbnail-left" id="resource-list-item9" style="">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-avatar" id="resource-list-item10" style="">
        <h2>Item</h2>
      </ion-item>
    </form>
  </ion-content>
</ion-view>